.dropzone-ui-tooltipppp {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  &:hover {
    .dropzosne-ui-toolatiptext {
      visibility: visible;
      opacity: 1;
    }
  }
  .dropzaone-ui-tooltiptsext {
    visibility: hidden;
    width: 120px;
    // background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;

    &.not-valisd-error {
      background-color: red;
      &::after {
        border-color: transparent transparent red transparent;
      }
    }
    &.successs {
      background-color: green;
      &::after {
        border-color: transparent transparent green transparent;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      //border-color: transparent transparent green transparent;
    }
  }
}
