.file-item-list-container {
  padding: 5px;
  //z-index: 1;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #646c7fa9;
    border-radius: 20px;
    border: transparent;
  }
  //margin: 25px 0;
  //background-color: rgba(255, 255, 255, 0.596);
  background-color: transparent;
  color: black;
  min-height: 280px;
  //width: 100%;
  width: calc(100% - 10px);
  //margin: 100px 0;
  //width: inherit;
  
  // padding: 2%;
  align-items: center;
  scrollbar-width: thin;
  &.file-item-list-grid {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  &.file-item-list-no-scroll{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: unset;
  }
  &.file-item-list-list {
    overflow: auto;
    //flex-wrap: wrap;
    align-items: center;
    //justify-content: center;
    display: inline-flex;
  }
}
