@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

.dropzone-ui {
  .dropzone-ui-ripple {
    position: absolute;
    width: 0%;
    height: 0%;
    //background-color: aqua;
    top: 0;
    left: 0;
    overflow: hidden;
    //padding-left: 15px;
    //z-index: -1;
    span.ripple {
      // width: 100%;
      //height: 100%;
      // overflow: hidden;
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      animation: ripple 500ms linear;
      background-color: rgba(255, 255, 255, 0.7);
    }

    @keyframes ripple {
      to {
        transform: scale(4);
        opacity: 0;
      }
    }
  }
  color: #646c7f;
  position: relative;
  min-height: 280px;
  border-radius: 4px;
  //margin: 4%;
  //width: calc(100% - 4px);
  width: 100%;
  //min-width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //overflow: hidden;
 // padding: 24px 0;
  &.drag {
    border: none;
  }
  &.clickable {
    cursor: pointer;
  }
/*   span.ripple {
    // width: 100%;
    //height: 100%;
    // overflow: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 500ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  } */

  //verflow: hidden;
  .dz-ui-header {
    height: 22px;

    position: absolute;
    cursor: text;
    top: 0;
    display: flex;
    width: calc(100% - 10px);
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    //height: 30px;
    //font-weight: 300;
    font-family: "Poppins", sans-serif;
    padding-right: 10px;
    //border-bottom: 1px dotted #646c7f;
    font-size: 0.9em;
  }
  .dz-ui-footer {
    //margin-left: 5px;
    height: 23px;
    position: absolute;
    cursor: text;
    bottom: 0;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px dotted grey;
    background-color: #80808021;
    //height: 30px;
    font-family: "Poppins", sans-serif;
    padding-left: 10px;
    font-size: 1em;
  }
}

.dropzone-ui-layer {
  width: 0%;
  height: 0%;
  z-index: 20;
  &.drag {
    position: absolute;
    left: 0;
    top: 0;
    //width: calc(100% - 4px);
    //height: calc(100% - 4px);
    width: 100%;
    height: 100%;
  }
}
.dz-ui-label {
  text-rendering: optimizeLegibility;
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02857em;
  @media (max-width: 600px) {
    font-size: 1.3em;
  }
  word-break: normal;
  //font-family: "Poppins", sans-serif;
  //font-weight: 600;
}
