@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
//@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900");
/* .file-item-full-list {
  display: inline-flex;
} */
.file-item-full-container-container {
  cursor: text;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 8px;
  //height: 157px;
  width: 133px;
  word-break: break-word;

  .file-item-icon-container {
    position: relative;
    height: 133px;
    width: 133px;
    border-radius: 8px;
    .img-container {
      &.blur {
        img {
          filter: blur(4px);
          width: 200%;
          height: 200%;
        }
      }
      position: absolute;
      left: 0;
      top: 0;
      width: inherit;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 8px;
      //z-index: -1;
      img {
        //filter: blur(0);
        width: 100%;
        //height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      height: inherit;
      width: inherit;
      .status-close {
        flex-direction: row;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        width: inherit;

        .x-button-file-item {
          padding: 5px 8px !important;

          min-width: 0;
          border-radius: 50%;
          // right: 0px;
          //top: 0px;
          font-size: 0.5em;
          // position: absolute;
        }
        &.hide {
          //height: 0%;
          display: none;
        }
        &.uploading {
          opacity: 0;
          //cursor: none;
        }
      }
    }
   
    .full-info {
      &::-webkit-scrollbar {
        width: 9px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #646c7fa9;
        border-radius: 20px;
        border: transparent;
      }
      text-align: left;
      position: absolute;
      left: 0;
      top: 0;

      scrollbar-width: thin;
      line-height: 1.5;
      letter-spacing: 0.02857em;
      border: 1px solid white;
      font-family: "Poppins", sans-serif;
      width: inherit;
      background-color: rgba(0, 0, 0, 0.85);
      word-break: break-word;
      //margin: 1% 4%;
      // padding: 1% 1%;
      border-radius: 7px;
      //z-index: 100;
      height: 100%;
      width: 100%;
      font-size: 0.8rem;
      transition: all 0.5s ease 0s;
      //overflow: hidden;
      overflow: auto;
      color: white;
      .name {
        //margin: -7px 0 0 0;
        padding: 0 5px;
        font-weight: 399;
        // text-align: center;

        .sub-label {
          font-weight: 600;
        }
        &.success {
          border: 1px dashed #2e7d32;
          background-color: #1b5e20;
          //margin: 0 2px;
          font-size: 0.7rem;

          border-radius: 4px;
        }
        &.error {
          background-color: #c62828;
          border: 1px dashed #d32f2f;
          font-size: 0.7rem;

          //margin: 0 2px;
          border-radius: 4px;
        }
      }
      .size {
        // margin-top: 5px;
        padding: 0 5px;
        font-weight: 500;
        .sub-label {
          font-weight: 600;
        }
      }
      .mime {
        //display: none;
        //text-align: left;

        padding: 0 5px;
        font-weight: 399;
        .sub-label {
          font-weight: 600;
        }
      }

      &.hide {
        //height: 0%;
        display: none;
      }
    }
    .file-item-footer {
      display: flex;
      width: inherit;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      &.hide {
        display: none;
      }
      .size-open-info {
        width: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .file-item-size {
          font-size: 0.7rem;
          border: 1px solid wheat;
          color: white;
          margin: 0% 0% 0% 0%;
          padding: 0% 5%;
          border-radius: 7px;
          background-color: rgba(0, 0, 0, 0.7);
          word-break: break-word;
          &.not-allowed {
            background-color: rgba(180, 16, 16, 0.7);
          }
        }
        &.hide {
          //height: 0px;
          display: none;
        }
        .file-item-open-info {
          //padding: 0.4px 5px;
          height: 1rem;
          width: 1rem;
          text-align: center;
          background-color: rgba(0, 0, 0, 0.75);

          font-size: 0.6rem;
          font-weight: 600;
          font-family: "Poppins", sans-serif;

          cursor: pointer;
          border-radius: 50%;
          color: aliceblue;
          border: 1px solid wheat;
        }
      }
    }
  }
  .file-item-name {
    margin-top: 3px;
    height: 37px;
    width: 133px;
    color: black;
    font-size: 0.95rem;
    line-height: 0.85rem;
    font-weight: 400;
    letter-spacing: 0.125em;
    word-break: break-all;
    padding: 0.5px;
    text-align: center;
    &.not-allowed {
      background-color: rgba(180, 16, 16, 0.7);
    }
  }

  
}

.file-item-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.file-status {
  &.hide {
    display: none;
  }
  text-align: center;
  //  text-justify: ;
  font-size: 0.8rem;
  margin: -5px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 0 2px;
  .status-icon {
    margin: -2px 0;
  }
  .file-status-error {
    //|margin: -5px 0;
    //margin: -2px 0;

    color: #f44336;
  }
  .file-status-ok {
    //margin: -5px 0;
    //rgin: -2px 0;

    color: #5c7a1f;
  }
  .file-status-loading {
    display: flex;
    color: #8b6b10;
    flex-direction: column;
    background-color: transparent;
    p {
      margin-top: -25px;
    }
  }
}

.view-in-image-file-item {
  font-size: 0.7rem;
  //border: 1px solid wheat;
  //color: white;
  min-width: 20px;
  min-height: 20px;
  margin: 0;
  padding: 2px 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  word-break: break-word;
}


//////////////////   TOOLTIP
.dz-ui-file-item-container{
  &.dz-ui-tooltip{
    cursor: default;
    position: relative;
    display: inline-block;
   // border-bottom: 1px dotted black;
    &:hover {
      z-index: 2;
      .dropzone-ui-tooltiptext {
        visibility: visible;
        opacity: 1;
       z-index: 2;
      }
    }
    .dropzone-ui-tooltiptext {
      font-family: "Poppins", sans-serif;
      font-size: 0.8rem;
      visibility: hidden;
      width: 133px;
      // background-color: green;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 2px 2px;
      position: absolute;
      //z-index: 2;
      //top: 190px;
      top: 180px;
      left: 66px;
      margin-left: -60px;
  
      /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
      opacity: 0;
      transition: opacity 1s;
  
      &.not-valid-error {
        background: linear-gradient(to top,#c62828,#d32f2f,);
        &::after {
          border-color: transparent transparent #d32f2f transparent;
        }
      }
      &.success {
        //background-color: green;
        background: linear-gradient(to top, #1b5e20, #2e7d32);
        &::after {
          border-color: transparent transparent #2e7d32 transparent;
        }
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        //border-color: transparent transparent green transparent;
      }
    }
  }
}