@keyframes dui-rotate-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.dui-rotate {
  cursor: default;
}

@media (prefers-reduced-motion: no-preference) {
  .dui-rotate {
    animation: dui-rotate-spin infinite 2s linear;
  }
}
